div{
    color:green
}

div{
    background-color:brown
}

ul {
    background-color:aliceblue
     
}

ul {
    color:black
}

.id{
    color:cornsilk
}

table{
    border-color: crimson;
    background-color:aliceblue
}

h2{
    color:yellow
}